* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    padding: 15px;
    background-color: lightgrey;
}

/* fonts */
.mc-fontes {
    font-family: 'Minecraft', sans-serif;
}

/* main */
.box {
    color: lightgrey;
    width: 60px;
    height: 60px;
    background-color: lightgrey;
    border: 1px solid black;
}

.container_bgcolor {
    padding: 30px 0px;
    background-color: black;
}

.btn_padding {
    padding: 10px;
}

.announcement {
    height: 600px;
    color: white;
    font-size: 50px;
    padding-top: 120px;
}

.clicked {
    background-color: blue;
}

.bomb {
    background-color: red;
}

